services:
  app:
    build:
     context: .
     dockerfile: Dockerfile.dev
    ports:
      - "6000:6000"
    depends_on:
      - db
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
      DATABASE_URL: postgresql+psycopg2://user:password@db:5432/mydb
      ACCESS_SECRET: supersecretkey
      REFRESH_SECRET: supersecretkey
      ALGO: HS256
    volumes:
      - .:/app
    command: >
      bash -c "
      ./wait-for-db.sh &&
      poetry run alembic upgrade head &&
      poetry run uvicorn main:app --host 0.0.0.0 --port 6000
      "
  
  
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata:



